/* ---상단 띠배너 */
.msg {
    height: 38px;
    background-color: #16523C;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.msg .msg_txt {
    width: 80%; text-align: center;
}
.msg .msg_txt > p {
    font-size: 0.94rem;
    color: #fff;
}
.msg .msg_close {
    position: absolute; right: 15px; top: 50%;
    transform: translateY(-50%);
}
/* --- 웹서비스 시작 */
#wrap {}
/* ------ 헤더 */
#wrap header {
    background-color: black;
    padding: 30px 50px;
}
#wrap header a {color: #fff;}
#wrap header .h_first_line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#wrap header .h_first_line h1 {}
#wrap header .h_first_line h1 a {}
#wrap header .h_first_line h1 a img {}
#wrap header .h_first_line .lnb {
    display: flex;
    
}
#wrap header .h_first_line .lnb > li {}
#wrap header .h_first_line .lnb > .right_line::after {}
#wrap header .h_first_line .lnb > li > a {

}
#wrap header .h_first_line .lnb > li > .right_line::after {
    content: '|'; display: inline-block;
    color: white;
    font-size: 0.77rem;
    margin: 0 10px;
}
#wrap header .h_second_line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#wrap header .h_second_line nav {}
#wrap header .h_second_line nav .gnb {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
#wrap header .h_second_line nav .gnb > li {}
#wrap header .h_second_line nav .gnb > li > a {
    padding: 15px 0;
    display: block;
}
#wrap header .h_second_line nav .gnb .product > a {}
#wrap header .h_second_line nav .gnb .product .product_depth {}
#wrap header .h_second_line nav .gnb .product .product_depth .depth_02 {}
#wrap header .h_second_line nav .gnb .product .product_depth .depth_02 > li {}
#wrap header .h_second_line nav .gnb .product .product_depth .depth_02 > li > a {}
#wrap header .h_second_line nav .gnb .product .product_depth .depth_02 > li > a {}
#wrap header .h_second_line nav .gnb .product .product_depth .depth_02 li a {}
#wrap header .h_second_line .lnb_user {
    display: flex; flex-flow: row nowrap;
    
}
#wrap header .h_second_line .lnb_user > li {}
#wrap header .h_second_line .lnb_user > li #h_search {
    display: flex;
    justify-content: center;
}
#wrap header .h_second_line .lnb_user > li #h_search #search_input {}
#wrap header .h_second_line .lnb_user > li #h_search #search_btn {}
#wrap header .h_second_line .lnb_user > li #h_search #search_btn img{
    filter: invert(1);
}